# Question 22

In [99]:
# +---------------+---------+
# | Column Name   | Type    |
# +---------------+---------+
# | id            | int     |
# | recordDate    | date    |
# | temperature   | int     |
# +---------------+---------+
# id is the column with unique values for this table.
# This table contains information about the temperature on a certain day.
 
 

### Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

# Return the result table in any order.

# Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

# Input: 
# Weather table:
# +----+------------+-------------+
# | id | recordDate | temperature |
# +----+------------+-------------+
# | 1  | 2015-01-01 | 10          |
# | 2  | 2015-01-02 | 25          |
# | 3  | 2015-01-03 | 20          |
# | 4  | 2015-01-04 | 30          |
# +----+------------+-------------+
# Output: 
# +----+
# | id |
# +----+
# | 2  |
# | 4  |
# +----+
# Explanation: 
# In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
# In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [71]:
import sqlite3
import pandas as pd

### Creating a database in jupter notebook using sqlite3 python library

In [89]:
conn = sqlite3.connect('weather.db')
cursor = conn.cursor()

### Creating a table named 'Weather'

In [90]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS Weather (
    id INTEGER PRIMARY KEY,
    recordDate DATE,
    temperature INTEGER
)
''')

### Inserting data into the Weather table as given above

In [91]:
cursor.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES(1 ,'2015-01-01', 10)")
cursor.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES(2 ,'2015-01-02', 25)")
cursor.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES(3 ,'2015-01-03', 20)")
cursor.execute("INSERT INTO Weather (id, recordDate, temperature) VALUES(4 ,'2015-01-04', 30)")

In [92]:
conn.commit()

### Execution of the query to fetch the data

In [93]:
# Checking if the data is fed correctly into the Weather table

weather_df = pd.read_sql_query("SELECT * FROM Weather", conn)
print(weather_df)

   id  recordDate  temperature
0   1  2015-01-01           10
1   2  2015-01-02           25
2   3  2015-01-03           20
3   4  2015-01-04           30

In [94]:
# Query to get the dates id's of the rows which have higher temperature than the above one (previous date)

query = '''
SELECT w1.id FROM Weather w1 JOIN Weather w2 ON DATE(w1.recordDate) = DATE(w2.recordDate, '+1 day')
WHERE w1.temperature > w2.temperature
'''

In [95]:
cursor.execute(query)
results = cursor.fetchall()

### Converting the above results got from the execution into a dataframe to print and check in the notebook

In [96]:
datafr = pd.DataFrame(results, columns=['id'])
print(datafr)

   id
0   2
1   4

In [97]:
cursor.execute("DELETE FROM Weather")
conn.commit()

In [98]:
conn.close()

In [84]:
################################